* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
  background: #fff;
  color: #444;
}

.container {
  text-align: center;
  max-width: 600px;
  margin: 6rem auto 4rem;
  padding: 0 10px;
}
